body {
    margin: 0;
}

header {
    height: auto; /* Set your desired header height */
    padding: 1vw;
    background-color: rgb(82, 46, 18);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

#Alinhamento {
    max-width: 60px;
    width: 20vw;
    height: auto;
    gap: 2vw;
}

.header-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    gap: 10px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2vw;
}

.header-nav {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 2vw;
}

.container-img-faculdade {
    position: relative;
    display: block;
    max-width: 100vw;
    margin: 0 auto;
}

.img-texto-centralizado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 90%;
}


#caixa_de_texto_imagem {
    padding: 1rem;
    position: absolute;
    bottom: 0.2vw;
    left: 0;
    color: white;
    font-size: 1.3vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    width: 100%;
    max-width: 97.9%;
    border: 2px solid hsl(35, 21%, 11%);
    background-color: rgba(56, 46, 34, 0.7);
}

#Icon1 {
    margin-left: 1vw;
}

.Fonte_Breaking_News {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1vw;
    margin-left: 0.5vw;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Responsive adjustments */
@media (max-width: 900px) {
    .img-texto-centralizado {
        font-size: 5vw;
    }
    #caixa_de_texto_imagem {
        font-size: 2vw;
        width: 90vw;
        left: 1vw;
        padding: 0.5rem;
    }
    .header-nav {
        gap: 1vw;
    }
    #Alinhamento {
        width: 12vw;
        max-width: 40px;
    }
}